{{ define "title" -}}
{{ .Site.Title }}
{{- end }}
{{ define "main" }}
  <header class="grid">
    <div class="cell -3of12">
      <img src="https://s.gravatar.com/avatar/7bf13c9d27600b733cec879994746108?s=157" itemprop="image" alt="Phil Kershaw" height="157"
        width="157" style="border-radius: 22.5%;">
    </div>
    <div class="cell -9of12">
      <h1>{{ .Title }}</h1>
      <div class="alert alert-warning">Available Soon!</div>
    </div>
  </header>
  {{ .Content }}
{{ end }}
{{ define "footer" }}
{{ end }}
